/* google font */

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

body {
  box-sizing: border-box;
}

.without,
footer {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-items ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 22px;
}

.res1ana {
  display: none;
}

.nav-items a {
  text-decoration: none;
}
.banner {
  padding-top: 120px;
  display: flex;
}
.banner h1 {
  font-size: 65px;
  font-weight: bolder;
  margin-bottom: 0px;
}

.banner p {
  color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
}
.our-plants h2 {
  justify-self: center;
  font-size: 50px;
  font-weight: bold;
}
.our-plants p {
  color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
  justify-self: center;

  max-width: 1140px;
}

button {
  font-size: 16px;
  width: 100%;
  padding: 26px 50px;
  color: white;
  background-color: #e95a08;
  border: none;
  width: 250px;
  align-items: start;
}

.badge-full {
  margin-top: 50px;
  justify-content: space-between;
  display: flex;

  h2 {
    font-size: 50px;
    font-weight: bold;
  }
  ul {
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
  }
}
.badge1 {
  position: relative;

  width: 286px;
  height: 286px;

  right: 250px;
  bottom: 150px;
}
.badge2 {
  position: relative;
  bottom: 300px;
  margin-bottom: 0px;
}
.latest {
  h1 {
    font-size: 50px;
    font-weight: bold;
  }
}

.latest h1 {
  align-self: center;
  margin-bottom: auto;
}
.latest p {
  justify-content: center;
  align-self: center;
  color: rgba(0, 0, 0, 0.5);
}
.latest {
  gap: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left {
  border-radius: 15px;
  background-image: url("./assets/deal-bloom.png");
  background-repeat: no-repeat;

  width: 360px;
  height: 206px;

  color: white;
  font-size: 20px;
  font-weight: bolder;
  a {
    color: white;
    font-size: 20px;
    font-weight: bold;
  }

  .left {
    color: white;
  }
}
.left {
  filter: grayscale(30%);
}

.leftana {
  border-radius: 15px;
  background-image: url("./assets/deal-ana.png");
  background-repeat: no-repeat;

  width: 360px;
  height: 206px;

  color: white;
  font-size: 20px;
  font-weight: bolder;
  a {
    color: white;
    font-size: 20px;
    font-weight: bold;
  }

  .leftana {
    color: white;
  }
}
.leftana {
  filter: grayscale(30%);
}

.discount {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left1 {
  border-radius: 15px;
  background-image: url("./assets/deal-bloom.png");

  width: 360px;
  height: 206px;

  color: white;
  font-size: 20px;
  font-weight: bolder;
  a {
    color: white;
    font-size: 20px;
    font-weight: bold;
  }

  .left1 {
    color: white;
  }
}
.left1 {
  filter: grayscale(30%);
}

.right {
  border-radius: 15px;
  background-image: url("./assets/deal-zabo.png");

  width: 360px;
  height: 206px;

  color: white;
  font-size: 20px;
  font-weight: bolder;
  a {
    color: white;
    font-size: 20px;
    font-weight: bold;
  }

  .right {
    color: white;
  }
}
.right {
  filter: grayscale(40%);
}

.right {
  background-repeat: no-repeat;
  width: 753px;
  height: 423px;
  background-size: contain;
}
.right {
  font-size: 30px;
  font-weight: bolder;
  a {
    color: white;
    font-size: 30px;
    font-weight: bold;
  }
}

.join1 {
  align-items: center;
  margin-top: 80px;
  background-repeat: no-repeat;
  background-size: cover;

  width: 100%;
  height: 533px;
  background-image: url("./assets/news-letter-bg.png");
  display: flex;
  flex-direction: column;
}

.join1 h1 {
  font-size: 50px;
  font-weight: bold;
  color: white;
  justify-self: center;
}

.join2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0px;
}
input::placeholder {
  font-size: 20px;
  height: 800px;
}
input {
  border: none;
  border-radius: 0px;
  width: 600px;
  height: 97%;
}

.button1 {
  font-size: 16px;
  width: 100%;
  padding: 26px 50px;
  color: white;
  background-color: #e95a08;
  border: none;
  width: 250px;
  align-items: start;
}

.footer1 p {
  color: rgba(0, 0, 0, 0.5);
}

.footer2 {
  color: rgba(0, 0, 0, 0.5);
  ul {
    list-style: none;
  }
  line-height: 40px;
}

.footer3 {
  color: rgba(0, 0, 0, 0.5);
  ul {
    list-style: none;
  }
  line-height: 40px;
}

footer {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: first baseline;
}
.footer4 {
  display: flex;
  align-items: center;
  gap: 15px;
}

.respfooter {
  display: flex;
  flex-direction: row;
  gap: 120px;
  justify-content: space-between;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 5px;
  column-gap: 8px;
  margin-bottom: 200px;
  max-width: 100%;
  max-height: 100%;
}

.card {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
}
.card img {
  max-width: 100%;
  max-height: 100%;
}

.resbtn {
  justify-self: center;
  border: 2px solid green;
}

@media screen and (max-width: 576px) {
  body {
    background-color: rgb(188, 230, 207);
  }
  .responsive-hide {
    display: none;
  }
  .banner {
    display: flex;
    flex-direction: column-reverse;
  }
  .our-plants {
    justify-content: center;
    align-items: center;
    padding: 0 10px;
  }

  .badge1 {
    display: none;
  }
  .badge-full {
    display: flex;
    flex-direction: column;
  }
  .badge2 {
    margin-top: 400px;
  }

  .latest {
    display: flex;
    flex-direction: column;
    justify-content: left;
  }

  .discount {
    display: grid;
    grid-template-columns: 1, 1fr;
  }
  .right {
    width: 360px;
    height: 206px;
    border: 2px solid red;
    h3 {
      font-size: 10px;
      display: flex;
      align-self: center;
      justify-content: center;
    }
  }

  .hiddenzabo {
    visibility: hidden;
  }

  .res1ana {
    background-image: url("./assets/deal-zabo.png");
    display: block;
  }

  input::placeholder {
    width: 250px;
    font-size: 17px;
    height: 800px;
  }
  input {
    border: none;
    border-radius: 0px;
    width: 150px;
    height: 97%;
  }

  .button1 {
    padding-right: 10px;
    font-size: 16px;
    padding: 26px 50px;
    color: white;
    background-color: #e95a08;
    border: none;
    width: 190px;
    align-items: start;
  }

  .respfooter {
    display: flex;
    flex-direction: column;
    gap: 0px;
    justify-content: flex-start;
  }

  .footer2,
  .footer3 {
    position: relative;
    left: -40px;
  }



.card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 5px;
  column-gap: 8px;
  margin-bottom: 200px;
  max-width: 100%;
  max-height: 100%;
}

.card {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
}
.card img {
  max-width: 100%;
  max-height: 100%;
}

.resbtn {
  justify-self: center;
  border: 2px solid green;
}






}
