/* google font */

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

body {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-items ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 22px;
}

.nav-items a {
  text-decoration: none;
}
.banner {
  padding-top: 120px;
  display: flex;
}
.banner h1 {
  font-size: 65px;
  font-weight: bolder;
  margin-bottom: 0px;
}

.banner p {
  color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
}
.our-plants h2 {
  justify-self: center;
  font-size: 50px;
  font-weight: bold;
}
.our-plants p {
  color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
  justify-self: center;
  line-height: 10px;
  max-width: 1140px;
}

button {
  font-size: 16px;
  width: 100%;
  padding: 26px 50px;
  color: white;
  background-color: #e95a08;
  border: none;
  width: 250px;
  align-items: start;
}
.card-container {
  margin-top: 30px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  row-gap: 8px;
  column-gap: 10px;
}
.card {
  width: 100%;
  height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-container {
  margin-top: 90px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 49px;
}
.our-plants {
  max-width: 100%;
  max-height: 100%;
}
.our-plants img {
  max-width: 270px;
  height: 322px;
}

.card {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.badge {
  display: flex;
  align-items: center;
  justify-content: space-between;
  ul {
    color: rgba(0, 0, 0, 0.5);
    padding-right: 60px;
  }
  
}
.badge1 {
  width: 286px;
  height: 286px;
  position: relative;
  bottom: 10px;
  right: 280px;
}

.badge h2 {
  font-size: 50px;
  font-weight: bold;
}
.latest {
  h1 {
    font-size: 50px;
    font-weight: bold;
  }
}

.latest h1 {
  align-self: center;
  margin-bottom: auto;
}
.latest p {
  justify-content: center;
  align-self: center;
  color: rgba(0, 0, 0, 0.5);
}
.latest {
  gap: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left {
  border-radius: 15px;
  background-image: url("./assets/deal-bloom.png");

  width: 360px;
  height: 206px;

  color: white;
  font-size: 20px;
  font-weight: bolder;
  a {
    color: white;
    font-size: 20px;
    font-weight: bold;
  }

  .left {
    color: white;
  }
}
.left {
  filter: grayscale(30%);
}

.discount {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left1 {
  border-radius: 15px;
  background-image: url("./assets/deal-bloom.png");

  width: 360px;
  height: 206px;

  color: white;
  font-size: 20px;
  font-weight: bolder;
  a {
    color: white;
    font-size: 20px;
    font-weight: bold;
  }

  .left1 {
    color: white;
  }
}
.left1 {
  filter: grayscale(30%);
}

.right {
  border-radius: 15px;
  background-image: url("./assets/deal-zabo.png");

  width: 360px;
  height: 206px;

  color: white;
  font-size: 20px;
  font-weight: bolder;
  a {
    color: white;
    font-size: 20px;
    font-weight: bold;
  }

  .right {
    color: white;
  }
}
.right {
  filter: grayscale(40%);
}

.right {
  background-repeat: no-repeat;
  width: 753px;
  height: 423px;
  background-size: contain;
}
.right {
  font-size: 30px;
  font-weight: bolder;
  a {
    color: white;
    font-size: 30px;
    font-weight: bold;
  }
}

.join {
  width: 1400px;
  overflow-x: hidden;
  /* position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0; */
  background-image: url("./assets/news-letter-bg.png");
  width: 1440px !important;
  margin-left: 0px !important;
}
.join h1 {
  color: white;
  font-size: 50px;
  font-weight: bold;
}
.footer1 p {
  color: rgba(0, 0, 0, 0.5);
}

.footer2,
.footer3 {
  color: rgba(0, 0, 0, 0.5);
  ul {
    list-style: none;
  }
  line-height: 40px;
}

footer {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: first baseline;
}
.footer4 {
  display: flex;
  align-items: center;
  gap: 15px;
}
